Body{
   background-color: #f4d04e;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20%;
}
.container{
   background: #fff;
    max-width: 380px;      
    min-height: 450px;     
    padding: 24px;
    border: 1px solid #000;
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px #000;
}
